@import "../../assets/styles/mixin";

.footer {
    .container {
        @include stylesHeaderFooter;
        padding: 6px 0;
    }
}

.footer-element {
    .footer-title {
        font-weight: 600;
        font-size: 1rem;
    }

    &:last-child {
        text-align: right;
    }
}